$themColor: #4341cf;
$fontBase: 12px;
$headerHeight: 60px;
$siderWidth: 200px;

$fontSize2: $fontBase * 1.5;

$buttonBackgroundColor: $themColor;
$buttonColor: #33312e;
$buttonColorHover: darken($themColor, 10%);